* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(./img/kiki.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header { 
    background-color: #141E77;
    height: 110px;
    width: 100%;
}
.containerHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.logo {
    display: flex;
    height: 90px;
    width: 140px;
    margin-left: 20px;

}

.container-menu {
display: flex;
align-items: center;
margin-right: 20px;

}

select {
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 162px;
    height: 29px;
}


.containerFilm{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;     
}

.containerCard {
    position: relative;
    margin: 1%;
    /*align-items: center;*/
    display: flex;
    flex-direction: column;
    color: white;
}

.poster {
    width: 200px;
    height: 243px;
}

h2 {
    background-color: #C5106E;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    font-size: 11px;
}