* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(./img/fondo_ponyo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    background-color: #141E77;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    height: 50px;
    width: 80px;
}

select {
    background-color: #FFFFFF;
    
}

.containerCard {
    display: block; 
    padding-top: 120px;
}